/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
/* light orange- #FFAA4D
orange- #FF8800 */
body{
  font-size: 100%;
}

h1, h2, h3, h4{
  font-family: 'Lora', serif;
}

a, span, p{
  font-family: 'Roboto', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
.hero{
  padding-top: 1rem;
  background-color: #F3F7F8;
  background-image: url(../img/macron.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
}

header {
  height: 90px;
  width: 100%;
  /* background-color: #F3F7F8; */
}

header nav{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
}

nav .logo, .footer-top .footer-section-left .container .logo{
  width: 35%;
}

.logo img{
  height: 70px;
  width: auto;
}

nav .links{
  width: 65%;
}

.links ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

header nav ul li a{
 
  color: #000000;
  text-decoration: none;

}

main .landing{
  display: flex;
  flex-direction: row;
}

main .landing .landing-left{
  margin-left: 10%;
  width: 55%;
}

main .landing .landing-left h1{
  font-size: 4.6rem;
}

main .landing .landing-left .form{
  width: 100%;
  height: 3rem;
  margin-bottom: 3rem;
}

main .landing .landing-left .form input{
  height: 3rem;
  padding: 1rem;
  width: 70%;
  border: 1.5px solid rgb(158, 158, 158);
  border-radius: 0.2rem;
}

main .landing .landing-left .form a, .section-one-botton{
  padding: 0.94rem 2rem;
  border-radius: 0.2rem;
  color: white;
  text-decoration: none;
  background-color: #FF8800;
}

main .landing .landing-left ul{
  padding: 0 0 4rem 0;
}

main .landing .landing-left ul li{
  height: 2rem;
  margin-right: 3rem;
  list-style: none;
  display: inline;
}

main .landing .landing-left ul li a{
  height: 2rem;
  text-decoration: none;
}
main .landing .landing-left ul li a i{
  width: 3%;
  color: #FF8800;
}

main .landing .landing-left ul li a span{
  color: #000000;
  font-size: 1.1rem;
}

main .landing .landing-right{
  width: 35%;
}


.section-one{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 45rem;
  background-color: rgb(243, 244, 245); 
}

.section-one .section-one-left{
  width: 40%;
  height: 45rem;
  
}

.section-one .section-one-left > img{
  height: 100%;
 
}

.section-one .section-one-right{
  width: 50%;
  height: 45rem;
  padding: 6rem 3rem 6rem 0;
  float: left;
}

.section-one .section-one-right span{
  color: #FF8800 ;
  font-size: 1.1rem;
}

.section-one .section-one-right h2{
  color: #000000;
  font-size:  3.8rem;
  margin-top: 1rem;
}

.section-one .section-one-right p, .section-four p, footer .footer-top .footer-section-left p, footer span{
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  word-spacing: 0.2rem;
  line-height: 1.5rem;
}

.section-one .section-one-right p + p{
  margin-bottom: 3rem;
}

.section-two{
  background-color: rgb(236, 237, 239);
  
}

.section-two {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 72rem;
  padding-top: 5rem;
}

.section-two > section{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 65rem;
  text-align: center;

}

section > a{
  color: #FF8800 ;
  font-size: 1.1rem;
  text-decoration: none;
  
}

.section-h2{
  font-size: 3rem; 
}

.section-two ul{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 4rem;
  height: 2rem; 
  padding: 0;
}


.section-two ul li a{
  text-decoration: none;
  color: #000000;
  font-size: 1.1rem;
  padding-bottom: 0.8rem;
}
/* make this hover orange when on it:


.section-two ul .breakfast{
  color: #FF8800;
  border-bottom: 2.3px solid #FF8800
} */

.section-two .categories li{

  list-style: none;
  display: inline;
  width: 20%;
  border-bottom: 1.6px solid rgba(128, 128, 128, 0.54);
  padding-bottom: 1rem;

}

.section-two section section{
  width: 100%;
  height: 45rem; 
}

.section-two section section img{
  /* width: 20%; */
  height: 20rem;
  margin: 1rem;
}

.section-three{
  
  background-color: rgb(243, 244, 245); 
  display: flex;
  justify-content: center;
  width: 100%;
  height: 69rem;
  padding-top: 5rem;
  text-align: center
}

.section-three > section{
  width: 70%;
}

.section-span{
  color: #FF8800 ;
  font-size: 1.1rem;
}

.section-three section .contact-number{
  color: #FF8800;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "lora", serif;
}

.hours{
  display: flex;
  justify-content: space-around;
  height: 7rem;
  
}

.open{
  display: flex;
  flex-direction: column;

}

.open .time, .open .day{
  font-family: "lora", "serif";
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.phone{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-three section i{
  color: #FF8800 ;
  padding-bottom: 2rem;
}

.section-three section img{
 margin-top: 3rem;
width: 75%;

} 

.section-four{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  /* height: 30rem; */
}

.section-four h3{
  font-family: 'Roboto', sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.section-four span ~ span{
  font-size: 1.2rem;
  color:  rgba(128, 128, 128, 0.664);
}

.section-four .five-stars{
  padding-top: 1rem;
  color: #FF8800 ;
}
.section-four p{
  margin: 2rem 10%;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 2.2rem;
  color: rgb(100, 100, 100);
}

footer {
  width: 100%;
  height: 30rem;
  background-color: rgb(243, 244, 245); 
  padding: 2rem;
}

footer .footer-top{
  display: flex;
  justify-content: space-between;
}

footer .footer-top .footer-section-left{
  width: 34%;
}

footer .footer-top .footer-section-left .container{
  display: flex;
  flex-direction: column;
}

footer .footer-top .footer-h3{
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer .footer-top .footer-section-right{
  width: 34%;
  height: 20rem;
  padding: 1rem;
}

footer .footer-top .footer-section-right .form{
  width: 100%;
  height: 3rem;
}

footer .footer-top .footer-section-right .form input{
  height: 3rem;
  padding: 1rem;
  width: 70%;
  border: 1.5px solid rgb(158, 158, 158);
  border-radius: 0.2rem;
}

footer .footer-top .footer-section-right .form a{
  padding: 0.94rem 1.8rem;
  border-radius: 0.2rem;
  color: white;
  text-decoration: none;
  background-color: #FF8800;
}

footer .footer-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1.5rem;
}

footer .footer-bottom .social-two{
  display: flex;
  padding-left: 0;
}

footer .footer-bottom .social-two li{
  list-style-type: none;
  padding: 1rem;
}

footer .footer-bottom .social-two li a{
  color: #FF8800;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/